body {
    margin-top: 0;
    background-color: #bee2f0;
    font-family: 'Merriweather', serif;
    padding-top: 50px;
}

h1 {
    /* font-style: italic; */
    size: 5.625rem;  
    padding: 50px auto 0 auto;
    margin-bottom: 0;
}

#div1 {
    padding-left: 170px;
    display: inline-block;
    font-family: 'Sacramento', cursive;
    font-size: 1.875rem; /*to make size dynamic --> 16px = 100% mate 30px = 30 * 100 / 16 = 187.5% = 1.875em*/
    color: rgb(226, 150, 49);
    /* line-height: 2; */
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 7, 85);
    font-weight: normal;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 7, 85);
}

.hr2 {
    border-style: dotted none none;
    border-width: 5px;
    width: 5%;
    border-color : rgb(198, 82, 82);
    display: block;
}

a {
    color: rgb(0, 7, 85);
}

#p1 {
    text-align: center;
    margin-top: 0px;
    font-weight: normal;
}

#cloud1 {
    position: relative;
    left: 100px;
    top: 190px;
}

#mountain1 {
    position: relative;
    top: 150px;
    left: 230px;
    
}

#cloud2 {
    position: relative;
    left: 820px;
    top: 50px;
}

#hr1 {
    position: relative;
    top: 200px;
    margin-bottom: 250px;
    border-style: dotted none none;
    border-width: 5px;
    width: 5%;
    border-color : rgb(198, 82, 82);
    display: block;
}

.profile {
    margin-top: 200px;
}

.d1 {
    text-align: center;
}

.contact-me {
    position: relative;
    line-height: 0.5;
    top: 50px;
}

.d2 {
    margin-top: 50px;
}

.temp1 {
    position: relative;
    left: 180px;
    bottom: 63px;
    display: inline-block;
}
.temp2 {
    position: relative;
    left: 290px;
    bottom: 65px;
    display: inline-block;
}
.temp3 {
    position: relative;
    left: 390px;
    bottom: 70px;
    display: inline-block;
}
